/* table, h1 {
    border:1px solid black;
    width: 350px;
    border-radius: 20px;
    background-color: #678e3e;
    color: honeydew;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    outline: 3px solid sandybrown ;
    font-family: sans-serif;
} */